* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(243, 243, 243);
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	height: 120px;
}

.menu button,
.note-panel .save,
.note-panel .cancel {
	padding: 12px 25px;
	background: none;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
	background-color: #333;
	color: #ddd;
}

.icon {
	margin-right: 10px;
}

.add {
	margin-right: 20px;
}

.note-area {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 20px;
}

.note {
	margin: 40px 20px;
	width: 240px;
	min-height: 250px;
	background-color: rgb(255, 243, 0);
	border: 1px solid black;
}

.note-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.06);
}

.note-header .delete-note {
	position: relative;
	padding: 20px;
	background: none;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.note-header .delete-note i {
	margin-right: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	transition: transform 0.3s;
}

.note-header .delete-note:hover i {
	transform: translate(-50%, -50%) rotate(180deg);
}

.note-body {
	padding: 20px 15px;
	font-size: 14px;
}

.note-panel {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 0;
	width: 600px;
	background-color: #fff;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
}

.note-panel h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
}
.note-panel label {
	margin-bottom: 10px;
}

.note-panel #text,
.notepanel #category {
	margin-bottom: 20px;
	padding: 10px 20px;
	width: 100%;
	min-width: 90%;
	max-width: 90%;
	min-height: 250px;
	max-height: 600px;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 5px;
}
.note-panel .error {
	margin-bottom: 20px;
	color: red;
	visibility: hidden;
}
